* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(/fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(/fonts/Roboto-Medium.ttf);
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  color: rgb(0, 48, 90);
}

body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(110, 191, 28, 0.6831524846266632) 0%,
    rgba(184, 183, 42, 1) 100%
  );
  font-family: "Roboto-Regular", sans-serif;
  color: rgb(0, 48, 91);
  height: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

.header {
  padding: 40px 20px;
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-link {
  font-family: "Roboto-Medium", sans-serif;
  font-size: 16px;
  color: rgb(0, 0, 0);
  transition: color 0.3s ease-in-out;
  text-decoration: none;
}

.menu-link:hover {
  color: red;
}

.title {
  display: grid;
  grid-template-columns: 30% 1fr;
}

.main-title {
  justify-self: center;
  font-size: 64px;
  padding: 40px 0;
}

.product-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: 5px solid brown;
  border-radius: 10px;
  transform: scale(1);
  box-shadow: none;
  transition: box-shadow 600ms, transform 600ms;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 15px 15px 5px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 600ms, transform 600ms;
}

.product-item-image {
  height: 400px;
}

.product-item-text {
  color: rgb(0, 49, 91);
}

.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin-top: 60px;
}

.contacts-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contacts-item-icon {
  width: 40px;
  height: 40px;
}

